{% extends "form_div_layout.html.twig" %}

{# See https://github.com/lyrixx/symfony/blob/form-tw/src/Symfony/Bridge/Twig/Resources/views/Form/form_twitter_bootstrap_3.1.x_layout.html.twig #}

{# Widgets #}

{% block form_widget_simple %}
{% spaceless %}
    {% if type is not defined or 'file' != type %}
        {% set attr = attr|merge({class: (attr.class|default('') ~ ' form-control')|trim}) %}
    {% endif %}
    {{ parent() }}
{% endspaceless %}
{% endblock form_widget_simple %}

{% block textarea_widget %}
{% spaceless %}
    {% set attr = attr|merge({class: (attr.class|default('') ~ ' form-control')|trim}) %}
    {{ parent() }}
{% endspaceless %}
{% endblock textarea_widget %}

{% block submit_widget %}
{% spaceless %}
    {% set attr = attr|merge({class: (attr.class|default('') ~ ' btn btn-primary')|trim}) %}
    {{ parent() }}
{% endspaceless %}
{% endblock %}

{% block choice_widget_collapsed %}
{% spaceless %}
    {% set attr = attr|merge({class: (attr.class|default('') ~ ' form-control')|trim}) %}
    {{ parent() }}
{% endspaceless %}
{% endblock %}

{% block checkbox_widget %}
{% spaceless %}
    {% set type = 'checkbox' %}
    {% set parent_label_class = parent_label_class|default('') %}
    {% if 'checkbox-inline' not in parent_label_class %}<div class="checkbox">{% endif %}
    {{ form_label(form, null, {
        widget: parent(),
        parent_label_class: parent_label_class
    }) }}
    {% if not 'checkbox-inline' in parent_label_class %}</div>{% endif %}
{% endspaceless %}
{% endblock checkbox_widget %}

{% block radio_widget %}
{% spaceless %}
    {% set type = 'radio' %}
    {% set parent_label_class = parent_label_class|default('') %}
    {% if 'radio-inline' not in parent_label_class %}<div class="radio">{% endif %}
    {{ form_label(form, null, {
        widget: parent(),
        parent_label_class: parent_label_class
    }) }}
    {% if not 'radio-inline' in parent_label_class %}</div>{% endif %}
{% endspaceless %}
{% endblock radio_widget %}

{% block choice_widget_expanded %}
{% spaceless %}
    {% for child in form %}
        {{ form_widget(child, { parent_label_class: (label_attr.class|default('')) }) }}
    {% endfor %}
{% endspaceless %}
{% endblock choice_widget_expanded %}

{% block money_widget %}
{% spaceless %}
    <div class="input-group">
        {% set preprend = '{{' == money_pattern[0:2] %}
        {% if not preprend %}
            <span class="input-group-addon">{{ money_pattern|replace({ '{{ widget }}':''}) }}</span>
        {% endif %}
        {{ block('form_widget_simple') }}
        {% if preprend %}
            <span class="input-group-addon">{{ money_pattern|replace({ '{{ widget }}':''}) }}</span>
        {% endif %}
    </div>
{% endspaceless %}
{% endblock money_widget %}

{% block percent_widget %}
{% spaceless %}
    <div class="input-group">
        {{ block('form_widget_simple') }}
        <span class="input-group-addon">%</span>
    </div>
{% endspaceless %}
{% endblock percent_widget %}

{% block datetime_widget %}
{% spaceless %}
    {% if widget == 'single_text' %}
        {{ block('form_widget_simple') }}
    {% else %}
        {% set attr = attr|merge({class: (attr.class|default('') ~ ' form-inline')|trim}) %}
        <div {{ block('widget_container_attributes') }}>
            {{ form_errors(form.date) }}
            {{ form_errors(form.time) }}
            {{ form_widget(form.date, { datetime: true } ) }}&nbsp;
            {{ form_widget(form.time, { datetime: true } ) }}
        </div>
    {% endif %}
{% endspaceless %}
{% endblock datetime_widget %}

{% block date_widget %}
{% spaceless %}
    {% if widget == 'single_text' %}
        {{ block('form_widget_simple') }}
    {% else %}
        {% set attr = attr|merge({class: (attr.class|default('') ~ ' form-inline')|trim}) %}
        {% if datetime is not defined or not datetime %}
            <div {{ block('widget_container_attributes') }}>
        {% endif %}
            {{ date_pattern|replace({
                '{{ year }}': form_widget(form.year),
                '{{ month }}': form_widget(form.month),
                '{{ day }}': form_widget(form.day),
            })|raw }}
        {% if datetime is not defined or not datetime %}
            </div>
        {% endif %}
    {% endif %}
{% endspaceless %}
{% endblock date_widget %}

{% block time_widget %}
{% spaceless %}
    {% if widget == 'single_text' %}
        {{ block('form_widget_simple') }}
    {% else %}
        {% set attr = attr|merge({class: (attr.class|default('') ~ ' form-inline')|trim}) %}
        {% if datetime is not defined or false == datetime %}
            <div {{ block('widget_container_attributes') }}>
        {% endif %}
        {{ form_widget(form.hour) }}:{{ form_widget(form.minute) }}{% if with_seconds %}:{{ form_widget(form.second) }}{% endif %}
        {% if datetime is not defined or false == datetime %}
            </div>
        {% endif %}
    {% endif %}
{% endspaceless %}
{% endblock time_widget %}

{# Label #}

{% block form_label %}
{% spaceless %}
    {% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' control-label')|trim}) %}
    {{ parent() }}
{% endspaceless %}
{% endblock form_label %}

{% block checkbox_label %}
{% spaceless %}
    {% if required %}
        {% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' required')|trim}) %}
    {% endif %}
    {% if parent_label_class is defined %}
        {% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ parent_label_class)|trim}) %}
    {% endif %}
    {% if label is empty %}
        {% set label = name|humanize %}
    {% endif %}
    <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
        {{ widget|raw }}
        {{ label|trans({}, translation_domain) }}
    </label>
{% endspaceless %}
{% endblock checkbox_label %}

{% block radio_label %}
{% spaceless %}
    {% if required %}
        {% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' required')|trim}) %}
    {% endif %}
    {% if parent_label_class is defined %}
        {% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ parent_label_class)|trim}) %}
    {% endif %}
    {% if label is empty %}
        {% set label = name|humanize %}
    {% endif %}
    <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
        {{ widget|raw }}
        {{ label|trans({}, translation_domain) }}
    </label>
{% endspaceless %}
{% endblock radio_label %}

{# Rows #}

{% block form_row %}
{% spaceless %}
    <div class="form-group{% if not compound and not valid %} has-error{% endif %}">
        {{ form_label(form) }}
        {{ form_widget(form) }}
        {{ form_errors(form) }}
    </div>
{% endspaceless %}
{% endblock form_row %}

{% block checkbox_row %}
{% spaceless %}
    <div class="form-group{% if not valid %} has-error{% endif %}">
        {{ form_widget(form) }}
        {{ form_errors(form) }}
    </div>
{% endspaceless %}
{% endblock checkbox_row %}

{% block radio_row %}
{% spaceless %}
    <div class="form-group{% if not valid %} has-error{% endif %}">
        {{ form_widget(form) }}
        {{ form_errors(form) }}
    </div>
{% endspaceless %}
{% endblock radio_row %}

{# Errors #}

{% block form_errors %}
{% spaceless %}
    {% if errors|length > 0 %}
    {% if form.parent %}<span class="help-block">{% else %}<div class="alert alert-danger" >{% endif %}
        {{ parent() }}
    {% if form.parent %}</span>{% else %}</div>{% endif %}
    {% endif %}
{% endspaceless %}
{% endblock form_errors %}
