{% extends beelab_catalog_layout %}

{% form_theme edit_form beelab_catalog_theme %}

{% block title %}{{ '%entity% edit'|trans({'%entity%': 'Product'}, 'admin') }}{% endblock %}

{% block body %}
    <h1>{{ '%entity% edit'|trans({'%entity%': 'Product'}, 'admin') }}</h1>

    <form action="{{ path('product_update', {id: product.id}) }}" method="post" {{ form_enctype(edit_form) }}>
        {{ form_widget(edit_form) }}
        <p>
            <button class="btn btn-primary" type="submit"><i class="fa fa-edit"></i> {{ 'Edit'|trans({}, 'admin') }}</button>
        </p>
    </form>

    {{ form_start(delete_form, {action: path('product_delete', {id: product.id}), attr: {id: 'delete'}}) }}
        {{ form_widget(delete_form) }}

        <div class="btn-group record_actions">

            <a class="btn btn-info" href="{{ path('product') }}">
                <i class="fa fa-list"></i> {{ 'Back to the list'|trans({}, 'admin') }}
            </a>

            <button class="btn btn-danger" type="submit"><i class="fa fa-trash-o"></i> {{ 'Delete'|trans({}, 'admin') }}</button>

        </div>

        <input name="modal" type="hidden" value="0">
    {{ form_end(delete_form) }}

    {% include "BeelabCatalogBundle::_modal.html.twig" %}

{% endblock %}
