{% extends beelab_catalog_layout %}

{% block title %}{{ '%entity% list'|trans({'%entity%': 'Product'}, 'admin') }} - {{ parent() }}{% endblock %}

{% from "BeelabCatalogBundle::_thead.html.twig" import thead %}

{% block body %}
    <h1>{{ '%entity% list'|trans({'%entity%': 'Product'}, 'admin') }}</h1>

    {% include 'BeelabCatalogBundle:Product:filter.html.twig' with {form: form} %}

    <table class="table table-striped table-hover table-bordered records_list">
        <thead>
            <tr>
                <th scope="col">{{ thead('product', 'id', 'Id', 'product_sort') }}</th>
                <th scope="col">{{ thead('product', 'name', 'Name', 'product_sort') }}</th>
                <th scope="col">{{ 'Actions'|trans({}, 'admin') }}</th>
            </tr>
        </thead>
        <tbody>
            {% for product in paginator %}
                <tr>
                    <td><a href="{{ path('product_show', {id: product.id}) }}">{{ product.id }}</a></td>
                    <td>{{ product.name }}</td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-default btn-sm" href="{{ path('product_show', {id: product.id}) }}">
                                <i class="fa fa-file-o"></i> {{ 'show'|trans({}, 'admin') }}
                            </a>
                            <a class="btn btn-default btn-sm" href="{{ path('product_edit', {id: product.id}) }}">
                                <i class="fa fa-edit"></i> {{ 'edit'|trans({}, 'admin') }}
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {{ knp_pagination_render(paginator) }}

    <ul class="new_entry list-unstyled">
        <li>
            <a class="btn btn-info" href="{{ path('product_new') }}">
                <i class="fa fa-plus"></i> {{ 'Create a new entry'|trans({}, 'admin') }}
            </a>
        </li>
    </ul>

{% endblock %}
