{% extends beelab_catalog_layout %}

{% form_theme form beelab_catalog_theme %}

{% block title %}{{ '%entity% creation'|trans({'%entity%': 'Product'}, 'admin') }} - {{ parent() }}{% endblock %}

{% block body %}
    <h1>{{ '%entity% creation'|trans({'%entity%': 'Product'}, 'admin') }}</h1>

    <form action="{{ path('product_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button class="btn btn-primary" type="submit">{{ 'Create'|trans({}, 'admin') }}</button>
        </p>
    </form>


    <div class="btn-group record_actions">

        <a class="btn btn-info" href="{{ path('product') }}">
            <i class="fa fa-list"></i> {{ 'Back to the list'|trans({}, 'admin') }}
        </a>



    </div>


{% endblock %}