{% extends beelab_catalog_layout %}

{% block title %}Product{% endblock %}

{% block body %}
    <h1>Product</h1>

    <table class="table table-hover record_properties">
        <tbody>
            <tr>
                <th scope="row">Id</th>
                <td>{{ product.id }}</td>
            </tr>
            <tr>
                <th scope="row">Name</th>
                <td>{{ product.name }}</td>
            </tr>
        </tbody>
    </table>

    {{ form_start(delete_form, {action: path('product_delete', {id: product.id}), attr: {id: 'delete'}}) }}
        {{ form_widget(delete_form) }}

        <div class="btn-group record_actions">

            <a class="btn btn-info" href="{{ path('product') }}">
                <i class="fa fa-list"></i> {{ 'Back to the list'|trans({}, 'admin') }}
            </a>

            <a class="btn btn-primary" href="{{ path('product_edit', {id: product.id}) }}">
                <i class="fa fa-edit"></i> {{ 'Edit'|trans({}, 'admin') }}
            </a>

            <button class="btn btn-danger" type="submit"><i class="fa fa-trash-o"></i> {{ 'Delete'|trans({}, 'admin') }}</button>

        </div>

        <input name="modal" type="hidden" value="0">
    {{ form_end(delete_form) }}

    {% include "BeelabCatalogBundle::_modal.html.twig" %}

{% endblock %}
